// base url

@base-url: "../images/";

// fonts

@font-face {
    font-family: 'MuseoSlab700';
    src: url('fonts/museo_slab_700-webfont.eot');
    src: url('fonts/museo_slab_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo_slab_700-webfont.woff') format('woff'),
         url('fonts/museo_slab_700-webfont.ttf') format('truetype'),
         url('fonts/museo_slab_700-webfont.svg#MuseoSlab700') format('svg');
    font-weight: normal;
    font-style: normal;
}

.base-family {font-family: Lucida Grande, "Helvetica", sans-serif !important; }
.fancy{ font-family: "MuseoSlab700", serif }
.serif {font-family: "Georgia", Times New Roman, serif}


// colors

@light-grey: #eeeeee;
@dark-blue: #183a5f;
@yellow:#ca7c10;
@red:#de1d43;
@purple:#9d0f49;
@light-blue:#1988bf;
@dark-grey: #434343;
@mid-grey: #c7c7c7;
@white: #ffffff;
@dark:#333333;

@lightest-blue:#dee3e8;
@lightest-yellow:#f7e8d4;
@lightest-red:#eed5df;

// general

.blue {
  color:@dark-blue;
}

.red {
  color:@purple;
}

.yellow {
  color:@yellow;
}

.border-radius (@radius) {
  border-radius: @radius;
  -moz-border-radius: @radius;
  -webkit-border-radius: @radius;
}

.shadow {
  -webkit-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.6);
  -moz-box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.6);
  box-shadow: 0px 0px 5px 2px rgba(255, 255, 255, 0.6);
}

.off-left { text-indent: -999999px; }

.no-decoration {text-decoration:none; }
.center {text-align:center;}
.centered {text-align:center;}
.uppercase {text-transform:uppercase;}
.lowercase {text-transform:lowercase;}
.normal {font-weight: normal;}
.italic {font-style:italic;}

.no-decoration {text-decoration: none;}

.absolute {position:absolute;}
.relative {position:relative;}


.padding-t{padding-top: 10px;}
.padding-title {padding-left: 15px; padding-top: 10px;}
.no-margin {margin:0;}
.none {display:none;}

.margin {margin-bottom: 20px;}
.margin-text {margin-bottom: 10px;}
.margin-20 {margin-left:-20px;}

.block {display:block;}
.inline-b {display: inline-block;}

.border-light {border: 1px solid @dark-gray;}

.no-style {
 list-style: none;
 list-style-image: none;
 list-style-type: none;
}
.italic {font-style:italic;}
.bold { font-weight: bold;}

.border-top{ border-top:1px solid @light-blue;}

.sponsor-title {
   border-bottom: 1px solid #DDDDDD;
   display: block;
   font-size: 14px;
   margin: 10px;
}

.title-block {
  margin-bottom:5px;
  padding-bottom:0;
  a {
    .no-decoration;
    color:@dark-grey;
    &:hover {
      color:@light-blue;
    }
  }
}

.button {
  background:@light-blue;
  border:0;
  .border-radius(5px);
  .fancy;
  .no-decoration;
  .uppercase;
  color:white;
  padding:5px 10px;
  text-shadow:none;
  .normal;
  &:hover {
    background:@dark-blue;
  }
  &:active {
    background:@red;
  }
}

.pager {
  background:none;
  border:0;
  margin-top:20px;
  li {
    background:none;
    border:0;
    &:hover {
      background:@light-blue;
      color:white;
      a {
        color:white;
      }
    }
    a {
      background:none;
      color:@dark-blue;
    }
    &.pager-current {
      background:@red;
      color:white;
      border-radius:0;
      a {
        color:white;
      }
    }
    
  }
}


input[type=text] {
  width:550px;
  border:1px solid @light-grey;
  .border-radius(3px);
  padding:10px 15px;
  font-size:13px;
  height:33px;
  
  &:focus {
    border-color:@light-blue;
  }
  
  &.error {
    border-color:@red;
    color:@red;
  }
}
input[type=submit] {
  .button;
  font-size:16px;
}

a {
  color:@light-blue;
  
  &:hover {
    color:@red;
  }
  
  &:visited {
    color:@dark-grey;
  }
  
  &.button {
    text-decoration:none !important;
    color:white !important;
    
    &:visited {
      color:@dark-grey;
    }
  }
}
// css

body {
  .base-family;
  color:#666;
}

#section-content{
    #zone-content-wrapper{
        .border-top;
         #zone-content {
             padding-top:20px;
         }
    }
}

.not-front #zone-content-wrapper {
    margin-top:20px;
}

#section-footer {
background-color:@dark-grey;
min-height:200px;
}

h2 a {
    text-indent:0px;
}

h2.block-title {
    font-size: 20px;
    .uppercase;
    .normal;
}

p {
    font-size:12px;
    line-height:20px!important;
}

h2.node-title {
    font-size: 16px;
    .serif;
    .italic;
    margin:0 0 0 0;
}

//  menu
.region-menu-inner {
  position:relative;
  nav.navigation {
    height:40px;
    line-height:40px;
    ul#main-menu {
      margin: 0;
      li {
        .no-style;
        .inline-b;
        margin: 0 15px;
        a {
          .no-decoration;
          .fancy;
          .uppercase;
          .inline-b;
          font-size: 20px;
          color: @dark-grey;

          &:hover {
            color:@light-blue;
          }
          &.active-trail {
            color:@red;
          }
          
          
          &#partecipa {
            color:@light-blue;
          }
        }
      }
    }

  }
  
  .my-dday-container {
    width:259px;
    position: absolute; 
    z-index: 999; 
    background: white; 
     
    right: 29px; 
    top:40px;
    border:1px solid #ccc;
    .shadow;
    border-top:0;
    background:url("{@base-url}/bg_top.jpg") white top left repeat-x; 
    .my-dday-top {
      .fancy;
      
      color:@light-blue;
      padding-bottom:10px;
      border-bottom:1px solid #ccc;
      margin-bottom:10px;
      padding: 10px;
      height:40px;
      .picture {
        width:40px;
        height:40px;
        float:left;
        margin-right:5px;
        border:1px solid @mid-grey;
      }
      #my-dday-user-name {
        float:left;
        width:190px;
        
        #my-dday-logout {
          clear:both;
          .serif;
          .italic;
        }
      }
    }
    
    .my-dday-bottom {
      padding: 10px 70px 10px 20px;
      ul.my-dday-menu {
        li {
          list-style:none;
          .fancy;
          .uppercase;
          a {
            color:@dark-grey;
            .no-decoration;

            &:hover {
              color:@red;
            }
          }
        }
      }
      
    }
  }
}




.bg-code  {
    ul.menu li a {
        background-image:url("{@base-url}/bg_code.jpg");
        margin:0 0 0 40px;
   }
}
.bg-biz  {
  ul.menu li a {
        background-image:url("{@base-url}/bg_biz.jpg");
        margin:0 40px 0 40px;
   }
}
.bg-pa  {
    ul.menu li a {
        background-image:url("{@base-url}/bg_pa.jpg");
        margin:0 20px 0 -20px;
   }
}
.menu-path () {
    ul.menu{
      li {
      .no-margin;
      .no-style;
        a {
        .serif;
        .italic;
        .bold;
        .no-decoration;
        .center;
        .block;
        width:260px;
        height:45px;
        padding:15px 0 0 0;
        font-size: 20px;
        background-color:transparent;
        background-position:0 50px;
        background-repeat:no-repeat;
          
          &.active-trail,
          &:hover {
          color:@white;
          background-position:left top;
          }
        }
      }
    }
}

#zone-user{
  .block {
      width:261px;
      display:block;
      height:60px;
      .menu-path;
      .lowercase;
      &.block-menu-menu-top {
        .bg-code;
      }
      &.block-menu-menu-biz {
        .bg-biz;
      }
      &.block-menu-menu-pa {
        .bg-pa;
      }
  }
}



#zone-header-wrapper {
background:transparent url("{@base-url}/bg_header.gif") repeat-x top left;
 	#zone-header {
		background: transparent url("{@base-url}/bg.gif") no-repeat top left;
		height: 400px;
		position: relative;
        border-color: @mid-grey;
        border-style: solid;
        border-width: 0 1px;
		  #region-branding{
		    .logo-img{
		    margin-top: 40px;
		  }
		}
		#region-header-first{
		  height: 360px;
		  .block;
		    #block-block-1{
		        margin-left:40px;
		        .fancy;
		        .uppercase;
		        font-size:24px;
		        padding-top:50px;
		        color: @dark;
		        margin-top: 50px;
		        margin-bottom: 0px;
		        p {
		          margin-bottom:0;
		        }
		        .patrocinio {
		          margin-top:5px;
	            h3 { 
	              .fancy;
	              font-size:14px;
	              margin:0;
	              padding:0;
	            }
	          }
	          &.block_session_logotipo_standard {
	            background: transparent url("{@base-url}/logo_tipo.png") no-repeat top left;
	          }
	          &.block_session_logotipo_code {
	            background: transparent url("{@base-url}/logotipo_code.png") no-repeat top left;
	            height:90px;
	          }
	          &.block_session_logotipo_biz {
	            background: transparent url("{@base-url}/logotipo_biz.png") no-repeat top left;
	            height:90px;
	          }
	          &.block_session_logotipo_pa {
	            background: transparent url("{@base-url}/logotipo_pa.png") no-repeat top left;
	            height:90px;
	          }
		    }
	        #block-views-sponsor-block-1 {
	            h2.block-title{
	                  .sponsor-title;
	            }
	            .content {
	                .view-content {
	                    .views-field-field-sponsor-logo {
	                        .field-content {
	                            width:190px!important;
	                        }
	                    }
	                }
	            }
	        }
		}
	}
	
}

.page-sponsor {
  #zone-postscript-wrapper {
    background:none;
    height:auto;
  }
}

.block-menu-top {
    ul.menu {
        li {
        margin:0;
        }
    }
}

.attendees {
  float: left;
  margin-right: 5;
}

#page-title {
  .fancy;
  font-size: 20px;
  .normal;
  color:@light-blue;
  .uppercase;
}

.block-title {
  .fancy;
  color: @light-blue;
  font-size: 20px;
}



article {
  border-bottom:1px solid @mid-grey!important;
  h2.node-title {
  .serif;
  font-size: 16px;
    a  { 
    .no-decoration;
    color:@dark-grey;
    }
  }
  header{
      margin-left:10px;
  }
  footer{
      margin-left:10px;
  }
  .content {
    .field-items{
        h1 {
        font-size:16px;
        color:@dark-grey;
        .fancy;
        .uppercase;
        }
    }
  }
}

#region-sidebar-first {
    h2.block-title {
    }
    
    .news {
      h2 {
        font-size:16px;

        .serif;
        .italic;
        .title-block;
      }
      h3 {
        font-size:12px;

        .base-family;
        .normal;
        .title-block;
        
      }
      p {
        margin:5px 0;
      }
      margin-bottom:5px;
      border-bottom:1px solid @light-grey;
    }
}

.preface-region-inner (@color; @position) {
    background: transparent url("{@base-url}/bg-hg.png") no-repeat @position top;
    width:261px;
    .block;
    height:260px;
    &:hover { background-color:@color; }
    &.selected { background-color:@color; }
    .boxes-box {
      height:260px;
      .relative;
      a.circle {
        .absolute;
        bottom:20px;
        left:50px;
        width:120px;
        height:120px;
        .block;
      }
    }
}

 #zone-preface-wrapper{
    .boxes-box {
      margin:0 10px;
      padding-top:10px;
      color:white;
      font-size:11px;
      line-height:14px;
    }
    
    #region-preface-first {
        p {
          line-height:16px !important;
        }
        .region-inner {
            .preface-region-inner(@lightest-blue;left);
             margin:0 0 0 40px;
          &.selected {
            .preface-region-inner(@lightest-blue;left);
          }
        }
    }

    #region-preface-second {
        p {
          line-height:16px !important;
        }
        .region-inner {
            .preface-region-inner(@lightest-yellow;center);
            margin:0 40px 0 40px;
            background-position:center top;
            &.selected {
              .preface-region-inner(@lightest-yellow;center);
            }
        }
    }

    #region-preface-third{
        p {
          line-height:16px !important;
        }
        .region-inner {
          .preface-region-inner(@lightest-red;right);
          margin:0 20px 0 -20px;
         background-position:right top;
         &.selected {
           .preface-region-inner(@lightest-red;right);
         }
        }
    }
}

/*mailchimp*/

#block-mailchimp-lists-1{
   h2.block-title {font-size:23px; color:@red;}
    #mailchimp-newsletter-1 {
        label {.none;}
          .form-item-mailchimp-lists-mailchimp-1-mergevars-NOME {.none;}
          .form-item-mailchimp-lists-mailchimp-1-mergevars-COGNOME {.none;}
            #edit-mailchimp-lists-mailchimp-1-mergevars-email {
                border:1px solid @light-grey;
                .border-radius (2px);
                .margin-20;
                height: 30px;
                padding: 5px 10px;
                width: 261px;
                .serif;
                .italic;
                color:@mid-grey;
                &:focus {
                  color:@dark-grey;
                  border-color:@dark-grey;
                }
            }
    }
    #edit-submit {
        .serif;
        color:@red;
        float:right;
}
}


#zone-postscript-wrapper {
       background: transparent url("{@base-url}/bg_postscript.gif") repeat-x left top;
       height:320px;
       margin-top:20px;
    #region-postscript-first {
       height:160px;
       margin-bottom:10px;
        h2.block-title {
            .sponsor-title;
        }
        .view-sponsor{
           .views-row {
              .views-field-field-sponsor-logo {
                 .field-content {
                    width:130px!important;
                    .border-radius (2px);
                    background-color:@white;
                    border:1px;
                    padding:3px;

                 }
              }
           }
        }

    }
}



#zone-content-top-wrapper {
    background: transparent url("{@base-url}/spin.png") repeat left top;
    .border-top;
    padding-bottom:20px;
    #region-preface-fourth{
        #block-views-sponsor-block-2 {
	            h2.block-title{
	                  .sponsor-title;
	            }
	            .content {
	                .view-content {
	                    .views-row-last {
	                        .views-field-field-sponsor-logo {
	                          .field-content {
	                               margin-right:0!important;
	                          }
	                        }
	                    }
	                    .views-row-first {
	                        .views-field-field-sponsor-logo {
	                          .field-content {
	                               margin-left:0!important;
	                          }
	                        }
	                    }
	                    .views-field-field-sponsor-logo {
	                        .field-content {
	                            width:auto;
	                            margin-right: 77px!important;
	                            margin-left: 0!important;
	                        }
	                    }
	                }
	            }
	    }
    }
}

#block-views-sponsor-block-2 .content {
	margin-left: 10px;
}

#block-views-attendees-block {
  .pager {
    background:none;
    border:0;
    margin-top:20px;
    li {
      background:none;
      border:0;
      &:hover {
        background:@light-blue;
        color:white;
        a {
          color:white;
        }
      }
      a {
        background:none;
        color:@dark-blue;
      }
      &.pager-current {
        background:@red;
        color:white;
        border-radius:0;
        a {
          color:white;
        }
      }
      
    }
  }


  h2.block-title {
    .margin;
  }
  .view-attendees {
    .views-row {
      width:52px;
      height:52px;
      margin:0 10px 10px 0;
      float:left;
    }
  .view-footer {
  	clear: both;
  	padding-right: 30px;
  
    p {
      text-align:right;
      a {
        .button;
        .no-decoration;
        &:after {
          content: ' »';
        }
      }
    }
  }
  
  }
  
  
}

#block-views-news-block {
	.view-footer {
    p {
      text-align:right;
      a {
        .button;
        .no-decoration;
        &:after {
          content: ' »';
        }
      }
    }
  }
}

#block-boxes-call-for-paper {
  .relative;
  
  .cfp {
    
    a {
      .button;
      .absolute;
      top:0px;
      right:5px;
    }
    .inner {
      padding-top:20px;
    }
  }
}


#block-views-owner-block {
    h2.block-title {
        .sponsor-title;
        color:@red;
    }
}

// Form

form{
    padding:0 10px!important;
    .form-item{
        label{
        .serif;
        color:@dark-grey;
        .italic;
        text-indent:10px;
            span.form-required{
            color:@red;
            }
        }
        input{
        .border-light;
        }
    }
}

.node-page {
    .content {
        h3, h3 a {
            .fancy;
            color:@red;
            .uppercase;
            font-size:18px;
        }
        h4 {
            .serif;
            font-size:16px;
            color:@light-blue;
        }
    }
}

.node-webform {
  h2 span { 
    .normal; 
  }
  
  iframe {
    border:1px solid @light-blue;
  }
  
  .webform-client-form {
    label {
      width:200px;
      display:inline-block;
    }
    
    input[type=text] {
      width:550px;
      border:1px solid @light-grey;
      .border-radius(3px);
      padding:10px 15px;
      font-size:13px;
      height:33px;
      
      &:focus {
        border-color:@light-blue;
      }
      
      &.error {
        border-color:@red;
        color:@red;
      }
    }
    input[type=submit] {
      .button;
      font-size:16px;
    }
  }
}

#block-mailchimp-lists-1 {
  .relative;
  height:100px;
  
  #edit-mailchimp-lists-mailchimp-1-mergevars-email {
    .border-radius(3px);
    color:@dark-grey;
    &:focus {
      border:1px solid @light-blue;
      color:@dark-blue;
    }
  }
  
  #edit-submit {
    position:absolute;
    top:55px;
    right:0;
    width:30px;
    height:19px;
    border:0;
    border-radius:0;
    background:url("{@base-url}/email_submit.png") left center no-repeat;
    
    &:hover {
      background-position:right center;
    }
  }
}

#zone-footer-wrapper {
  padding-top:20px;
  #region-footer-first {
    #block-menu-menu-footer-menu {
      ul {
        width:700px;
        li {
          float:left;
          width:120px;
          margin-right:20px;
          line-height:20px;
          .no-style;
          background:none;
          .serif;
          font-size:18px;
          font-style:italic;
          a {
            color:white;
            .no-decoration;
            &:hover {
              color:#ccc;
            }

            &:active {
              color:@red;
            }
          }
          ul {
            margin-top:5px;
            width:200px;
            float:left;
            li {
              .base-family;
              font-size:13px;
            }
          }
        }
      }
    }
  }
  
  #region-footer-second {
    #edit-search-block-form--2 {
      .base-family;
      width:200px;
      border:1px solid @mid-grey;
      .border-radius(5px);
      padding:5px 10px;
      height:30px;
      font-size:14px;
      color:@mid-grey;
      
      &:focus {
        color:@dark-grey;
      }
    }
    .form-submit {
      .button;
      background:@red;
      height:30px;
      
    }
  }
  
}

.biz-page,
.pa-page,
.code-page {
  .view-sessions-schedule {

    .views-exposed-form {
      #edit-track-wrapper {
        width:400px;
      }
      .form-item-track {
        display:none;
        &.selected {
          display:block;
        }
      }
      .session-track-all {
        display:block;
      }
    }
  }
}

.view-sessions-schedule {
  
  .views-exposed-form {
    .views-submit-button {
      float:left;
      padding:0;
      .form-submit {
        margin-top:12px;
        .button;
        background:@light-grey;
        color:@dark-grey;
        
        &:hover {
          color:white;
        }
      }
    }
    #edit-track-wrapper {
      float:left;
      width:575px;
      input {
        visibility:hidden;
      }
      label {
        float:left;
        font-size:16px;
        line-height:40px;
        width:62px;
        .serif;
        .italic;
        color:@mid-grey;
      }
      .form-item-track {
        float:left;
        margin-right:5px;
        padding-left:20px;
        border:1px solid @mid-grey;
        border-bottom:0;
        -webkit-border-top-right-radius: 6px; 
        -webkit-border-top-left-radius: 6px;
        -moz-border-radius-topright: 6px; 
        -moz-border-radius-topleft: 6px;
        border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        width:100px;
        height:40px;
        line-height:40px;
        label {
          .fancy;
          .normal;
          .uppercase;
          color:@dark-grey;
          font-style:normal;
          font-size:16px;
          width:auto;
        }
        &.selected {
          background:@light-blue;
          border-color:@light-blue;
          label {
            color:white;
          }
        }
      }
      
    }
  }
  .view-filters {
    margin-bottom:0;
    padding-bottom:0;
  }
  
  .view-empty {
    margin-top:-7px;
    background:white;
    border:1px solid @mid-grey;
    padding:20px 0 7px 0;
    text-align:center;
  }
  .view-content {
    margin-top:-7px;
    background:white;
    border:1px solid @mid-grey;
    table {
      background:none;
      border:none;

      thead {
        background:none;
        border:none;
      }

      tr {
        background:none;
        border:none;
      }

      th,td {
        background:none;
        border:none;

        &.views-field-title-1 {
          width:120px;

          span {
            padding:5px 10px;
            .fancy;
            .border-radius(5px);
            color:white;
            background:@dark-grey;
          }
        }

        &.views-field-nothing {
          width:auto;
          .session {
            margin-top:20px;
            h2 {
              margin-bottom:0;
              .fancy;
              .normal;
              color:@light-blue;
              font-size:18px;
              a {
                .no-decoration;
                
                &:hover {
                  color:@red;
                }
                
                &:visited {
                  color:@dark-blue;
                }
              }
            }
            h3 {
              .italic;
              font-size:14px;

              a {
                color:@light-blue;

                &:hover {
                  color:@red;
                }
              }
            }
          }
        }

        &.views-field-ops {
          width:230px;
          span.flag-wrapper {
            a.flag {
              padding:5px 10px;
              .fancy;
              .uppercase;
              .no-decoration;
              .border-radius(5px);
              color:white;
              background:@light-blue;
              &:hover {
                background:@red;
              }
            }
          }
        }
      }
    }
  }
}

article.session {
  .detail {
    text-align:center;
    
    span.timeslot {
      padding:5px 10px;
      width:80px;
      .fancy;
      .uppercase;
      .normal;
      .border-radius(5px);
      color:white;
      background:@dark-grey;
      font-size:16px;
    }
    
    h4 {
      margin:20px 0;
      .fancy;
      .uppercase;
      .normal;
      font-size:16px;
    }
    .helpful {
      a {
        background:@dark-grey;
        .fancy;
        .no-decoration;
        color:white;
        padding:2px 5px;
        .border-radius(5px);
        &:hover {
          background:@light-blue;
        }
      }
    }
  }
  
  h1#page-title {
    a {
      .no-decoration;
      color:@light-blue;
      &:hover {
        color:@red;
      }
    }
  }
}



.view-sponsor {
  .view-id-sponsor {
    clear:both;
    margin:40px 0;
  }
  .view-header {
    h3,p {
      .normal;
      .fancy;
      color:@light-blue;
      font-size:16px;
    
      &.normal {
        color:@dark-grey;
        font-size:13px;
        .base-family;
      }
    }
  }
  
  .view-content {
    .views-row-first {
      margin-left:0;
    }
    .views-row {
      a {
        img {
          border:1px solid @light-grey;
        }
        &:hover {
          img {
            border:1px solid @red;
          }
        }
      }
    }
  }
}

.node-type-sponsor {
  h1#page-title {
    font-size:32px;
  }
  #sponsor {
    figure {
      img {
        border:1px solid @dark-grey;
        &:hover {
          border-color:@red;
        }
      }
    }
    a {
      font-size:16px;
      .fancy;
      margin-bottom:20px;
      display:block;
    }
  }
}

#node-page-60 {
  h3.serif {
    .serif;
    .normal;
    text-transform:none;
    font-size:32px;
    color:#666;
    em {
      .bold;
    }
  }
  
  h4.fancy {
    font-size:24px;
    .fancy;
    .normal;
  }
  
  h3.topic {
    font-size:24px;
    color:@dark-grey;
    .normal;
  }
  
  ul.tracks {
    width:660px;
    height:120px;
    clear:both;
    margin:0;
    margin-left:30px;
    margin-bottom:40px;
    padding:0;
    li {
      float:left;
      .no-style;
      width:120px;
      height:120px;
      line-height:120px;
      font-size:24px;
      .border-radius(60px);
      color:white;
      text-align:center;
      margin-left:40px;
      margin-right:60px;
      .normal;
      
      a {
        color:white;
        .no-decoration;
        display:block;
      }
      &.code {
        background:@lightest-blue;
        
        &:hover {
          background:@dark-blue
        }
      }
      
      &.biz {
        background:@lightest-yellow;
        
        &:hover {
          background:@yellow;
        }
      }
      
      &.pa {
        background:@lightest-red;
        
        &:hover {
          background:@purple;
        }
      }
      
    }
  }
}

.organizers {
  h4 {
    .fancy;
    .normal;
    color:@purple;
  }
}

#block-boxes-social-block {
  margin-top:20px;
  h2.block-title {
    color:white;
    font-size:16px;
    margin:0 0 0 10px;
  }
  
  ul {
    margin:0 0 0 10px;
    padding:0;
    
    li {
      float:left;
      width:50px;
      height:50px;
      margin-right:5px;
      .no-style;
      a {
        display:block;
        width:50px;
        height:50px;
      }
      
      &.facebook {
        background:url("{@base-url}/facebook.png");
      }
      
      &.twitter {
        background:url("{@base-url}/twitter.png");
      }
      
      &.flickr {
        background:url("{@base-url}/flickr.png");
      }
      
      &.slideshare {
        background:url("{@base-url}/slideshare.png");
      }
      
      &.youtube {
        background:url("{@base-url}/youtube.png");
      }
    }
    
  }
}

#region-sidebar-first {
  .block-sponsor-block-1,
  .block-sponsor-block-2,
  .block-sponsor-block-3 {
    h2.block-title { font-size:14px; }
    .views-field-field-sponsor-logo {
      margin:10px 0;
      height:110px;
    }
  }
}

.bigjoin {
  font-size: 20px;
  .normal;
  width: 130px;
  display: block; 
  clear: both; 
  text-align: center; 
  float: left; 
  margin: 10px 0px 0px 0px;
}

#block-boxes-join-button {
  .relative;
  .user-count-number {
    width:80px;
    background:url("{@base-url}/bubble_count.png") center left no-repeat;
    height:47px;
    .absolute;
    right:0px;
    top:0px;
    .wrapper {
      margin-top:8px;
      margin-left:12px;
      .center;
      padding:0 10px;
      font-size:16px;
      .serif;
      .italic;
      .lowercase;
      color:@red;
      line-height:15px;
      font-size:30px;
      span {
        color:#555;
        font-size:12px;
        .base-family;
      }
    }
  }
}


.menu-435 {
	margin-right: 90px !important;
}

#block-menu-block-1 h2,
#block-menu-block-2 h2,
#block-menu-block-3 h2,
#block-menu-block-4 h2,
#block-menu-block-5 h2,
#block-menu-block-6 h2 {
	display:none;
}

#block-menu-block-1,
#block-menu-block-2,
#block-menu-block-3,
#block-menu-block-4,
#block-menu-block-5,
#block-menu-block-6
 {
	display:none;
	width:259px;
	padding: 10px;
    position: absolute;
    width: auto;
	left: 560px;
	top: 39px;
	z-index: 100;
	background:url("{@base-url}/bg_top.jpg") white top left repeat-x;
	border: 1px solid #C7C7C7; 
	li {
		list-style: none;
	} 
}

#edit-submitted-tipo-sponsorship {
  label {
    width:100px;
  }
}

.user-picture {
  border:1px solid @mid-grey;
  width:52px;
  height:52px;
  &:hover {
    border-color:@red;
  }
}

.tweets {
  background:url("{@base-url}/tweets.png") center left no-repeat;
  padding-left:30px;
  height:30px;
  display:block;
  .fancy;
  .no-decoration;
  color:@light-blue;
  font-size:16px;
  margin:10px 0;
}

.fb_small {
  background:url("{@base-url}/facebook_small.png") 3px 6px no-repeat;
  padding-left:30px;
  height:30px;
  display:block;
  .fancy;
  .no-decoration;
  color:@light-blue;
  font-size:16px;
  margin:10px 0;
}

.page-user {
  .user-picture {
    width:120px;
    height:120px;
    border:1px solid @mid-grey;
  }
  
  .link-twitter {
    background:url("{@base-url}/tweets.png") center left no-repeat;
    padding-left:30px;
    height:30px;
    display:block;
    .fancy;
    .no-decoration;
    color:@light-blue;
    font-size:16px;
    margin:10px 0;
  }
  .view-id-user_profile  {
    h1 {
      .fancy;
      .uppercase;
      .normal;
      font-size:20px;
      margin-bottom:10px;
      padding:0;
      a {
        color:@light-blue;
        .no-decoration;
      }
    }
  }
  h2.pane-title {
    font-size:16px;
    .fancy;
    .uppercase;
    .normal;
    color:@dark-grey;
  }
  
  .views-field-field-user-company {
    .views-label-field-user-company {
      .serif;
      .italic;
      font-size:16px;
    }
  }
  
  .views-field-field-user-skills,
  .views-field-field-user-interest {
    .views-label-field-user-skills,
    .views-label-field-user-interest {
      .serif;
      .italic;
      font-size:16px;
    }
    .field-content {
      a {
        background:@dark-grey;
        .border-radius(5px);
        padding:2px 5px;
        color:white;
        .fancy;
        .normal;
        .no-decoration;
        &:hover {
          background:@light-blue;
        }
      }
    }
  }
  
  .pane-sessions-schedule {
    .view-sessions-schedule {
      .view-empty,
      .view-content {
        border:0;
      }
    }
  }
}

.wrapper-attendees{
    margin-bottom:20px;
    padding-bottom:20px;
    padding-top:20px;
    border-bottom: 1px solid @light-blue;
    .user-picture {
        margin-bottom:10px;
        a { font-size:9px;}
    }
    .field-name-twitter {
        .field-name {
           a {
            .fancy;
            color:@light-blue;
            font-size:14px;
            .no-decoration;
            }
        }
        .field-twitter {
            a.link-twitter{
            background:url("{@base-url}/tweets.png") center left no-repeat;
            padding-left:30px;
            height:30px;
            display:block;
            .fancy;
            .no-decoration;
            color:@light-blue;
            font-size:12px;
            margin:10px 0;
            }
        }
    }
    .field-skills, .field-interests {
        .label {
            .serif;
            color:@dark-grey;
            .italic;
            margin:0;
        }
         a {
                font-size:10px;
                background:@dark-grey;
                .border-radius(5px);
                padding:2px 5px;
                color:white;
                .fancy;
                .normal;
                .no-decoration;
                white-space: nowrap;
                &:hover {
                     background:@light-blue;
                }
         }
    }
}

.location {
  .relative;
  .browse {
    .absolute;
    top:190px;
    height:71px;
    width:46px;
    background:url("{@base-url}/arrows.png") 0 0 no-repeat;
    cursor:pointer;
    &.left {
      left:-50px;
      &:hover {
        background:url("{@base-url}/arrows.png") -91px 0 no-repeat;
      }
    }
    
    &.right {
      right:-50px;
      background:url("{@base-url}/arrows.png") -46px 0 no-repeat;
      &:hover {
        background:url("{@base-url}/arrows.png") center right no-repeat;
      }
    }
  }
  .scrollable {

    /* required settings */
  .relative;
  overflow:hidden;
  width: 660px;
  height:402px;
  border:1px solid @dark-grey;
  .items {
  	/* this cannot be too large */
  	height:402px;
  	width:20000em;
  	position:absolute;
      img {
        float:left;
      }
    }
  }
  .location-content {
    margin-top:40px;
  }
}

#block-block-1 {
  width:590px;
  .relative;

  
}

.view-sponsor {
   .view-display-id-attachment_1 {
       padding-top: 15px;
       padding-bottom:20px;
       p {
           margin-bottom:10px;
       }
   }
       .view-display-id-attachment_2 {
       padding-top: 15px;
       padding-bottom:20px;
       p {
           margin-bottom:10px;
       }
       .views-row {
           width:130px!important;
           margin:0 5px!important;
       }
   }
}

#views-exposed-form-sessions-schedule-page {
	margin:0;
}

.view-sessions-schedule .view-empty {
	border-radius: none;
}

#node-webform-72 {
  .wrapper {
    margin-bottom:40px;
    .left {
      float:left;
      width:500px;
      margin-right:20px;
    }

    .right {
      float:left;
      width:360px;
      padding:20px;
      border:1px solid @mid-grey;
      background:@light-grey;
    }
  
  }
}

// sessions

article {
    &.session {
        display: inline-block;
        padding-top: 30px;
        position: relative;
        .speakers{
            .field-label{display:inline;float:left;}
            .field-item {
                 display:inline;
                .serif;
                .bold;
                margin:0 5px;
                a {
                    .no-decoration;
                    color:@light-blue;
                    .italic;
                }
            }
        }
        .tags {
            margin:5px 0 20px 0;
            .field-item{
                margin:0 2px;
                display:inline;
                a {
                    font-size:10px;
                    background:@dark-grey;
                    .border-radius(5px);
                    padding:2px 5px;
                    color:white;
                    .fancy;
                    .normal;
                    .no-decoration;
                    white-space: nowrap;
                    &:hover {
                         background:@light-blue;
                    }
                }
            }

        }
        .links {
                position:absolute;
                top:0;
                right:0;
                span.flag-wrapper {
                    a.flag {
                        padding:5px 10px;
                        .fancy;
                        .uppercase;
                        .no-decoration;
                        .border-radius(5px);
                        color:white;
                        background:@light-blue;
                        &:hover {
                            background:@red;
                        }
                    }
                }
            }
    }

}